@font-face {
  font-family:'Roboto Light';
  src: url('../../fonts/Roboto Light.woff2') format('woff2'),
  url('../../fonts/Roboto Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Roboto';
  src: url('../../fonts/Roboto.woff2') format('woff2'),
  url('../../fonts/Roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Roboto Medium';
  src:url('../../fonts/Roboto Medium.woff2') format('woff2'),
  url('../../fonts/Roboto Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Roboto Medium Italic';
  src: url('../../fonts/Roboto Medium Italic.woff2') format('woff2'),
  url('../../fonts/Roboto Medium Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family:'Roboto';
  src: url('../../fonts/Roboto Bold.woff2') format('woff2'),
  url('../../fonts/Roboto Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #555;
}
.main {
  background-color: #544233;
  background-image: url("../../img/bg-main_1200.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1200px){
  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1080px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper {
  padding-left: 25px;
  padding-right: 25px;
}

// @media (min-width: $tablet-width) {
//   body {
//     min-width: 660px;
//   }
// }
// @media (min-width: $desktop-width) {
//   body {
//     min-width: 960px;
//   }
// }
// .container {
//   padding-left: 20px;
//   padding-right: 20px;
//   margin: 0 auto;
// }
// @media (min-width: $desktop-width) {
//   .container {
//     width: 660px;
//   }
// }
// @media (min-width: $desktop-width) {
//   .container {
//     width: 960px;
//     padding-left: 10px;
//     padding-right: 10px;
//   }
// }

// .visually-hidden {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;
//   clip: rect(0 0 0 0);
//   overflow: hidden;
// }
